body {
    font-family: sans-serif;
    background-color: cyan;
}
header{
    background-color: chartreuse;
    padding: 20px;
    margin-bottom: 30px;
}
.link-nav {
 background-color: chartreuse;
 padding: 20px; 
 margin-top: 40px;  
}
h1{
    display: flex;
    justify-content: center; 
}
